.wrapper {
  position: absolute;
  top: calc(var(--base-top) + (var(--animate-circle-radius) * 2) + 80px);
  left: 0;
  width: -webkit-fill-available;
  padding: 0 80px;
}
@media (max-width: 1280px) {
  .wrapper {
    --date-height: 56px;
    font-size: 56px;
    top: calc(50% + 20px);
    padding: 0 20px;
    height: 50%;
    :global {
      .swiper-slide-next {
        opacity: 0.4;
      }
      .swiper-pagination {
        position: absolute;
        top: 200px;
      }
      .swiper-pagination-bullet-active {
        background-color: #42567a;
        opacity: 1 !important;
      }
      .swiper-pagination-bullet {
        transform: scale(1) !important;
        background-color: #42567a;
        opacity: 0.4;
      }
    }
  }
}
