.wrapper {
  --date-height: 160px;
  height: var(--date-height);
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: var(--date-height);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 200px;
  line-height: 80%;
  letter-spacing: -0.02em;
  text-align: center;
  top: calc(var(--base-top) + var(--animate-circle-radius) - (var(--date-height) / 2));

  span {
    z-index: -1;
    user-select: none;
  }
}
@media (max-width: 1280px) {
  .wrapper {
    --date-height: 56px;
    font-size: 56px;
    top: calc(var(--base-top) - 35px + 25%);
  }
}
