@import './global.modules.scss';

html, body, div[id=root] {
	height: 100%;
}
body {
	background: $main_bg_color;
	padding: 0%;
	margin: 0;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}