$circleRadius: 265px;
$buttonRadius: 28px;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $circleRadius * 2;
  width: $circleRadius * 2;
  border-radius: 50%;
  border: 1px rgba(var(--border_base_color), 0.2) solid;
  position: absolute;
  top: 215px;
  left: calc(50% - $circleRadius);
  button {
    position: absolute;
    width: $buttonRadius * 2;
    height: $buttonRadius * 2;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform-origin: center;
    cursor: pointer;
    &:disabled {
      cursor: auto;
    }
    .circleButton {
      position: absolute;
      width: $buttonRadius * 2;
      height: $buttonRadius * 2;
      border: 1px rgba(var(--border_base_color), 0.5) solid;
      border-radius: 50%;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #42567a;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease;
      transform-origin: center;
      transform: translateZ(0) scale(0.1);
      background-color: rgba(var(--border_base_color), 1);
    }
    &:hover .circleButton {
      background-color: var(--main_bg_color);
      transform: translateZ(0) scale(1);
    }
    .text {
      pointer-events: none;
      transition-delay: 0s;
      opacity: 0;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: #42567a;
      position: absolute;
      left: calc($buttonRadius * 2 + 20px);
    }
    &.selected {
      .circleButton {
        background-color: var(--main_bg_color);
        transform: translateZ(0) scale(1);
      }
      .text {
        opacity: 1;
        transition-delay: 0.5s;
      }
    }
  }
}
